<% include ../partials/boilerplate %>
    <% include ../partials/styles %>

    <div id="enterName">
    <input type="text" id="nameInput" placeholder='Please Enter Your Name!'>
    <button id='submitbttn'>submit</button>
    </div>
    Enter Chat and press enter
    <div>
      <input id=input placeholder=you-chat-here />
    </div>
    <div id=box></div>

        <div class="chatIndex">
            <div class='UserChat'>
                <div class="mid-space">
                    <div class="userImage"> </div>
                    <div class="userImage"> </div>
                </div>
                <% include ../partials/chat_modal.ejs %>
            </div>
        </div>
<% include ../partials/end %>