<% include ../partials/boilerplate %>
 <% include ../partials/styles %>


<div class="chatIndex">

    <div class='UserChat'>

    <div class="mid-space">

      <div class="userImage"> </div>
      <div class="userImage"> </div>
     </div>
     <% include ../partials/chat_modal.ejs %>
    </div>


</div>



<% include ../partials/end %>

