<% include ../partials/boilerplate %>
    <% include ../partials/styles %>

        <form method='POST' action='/auth/login'>
            <input name='username' type='text' placeholder='username' />
            <input name='password' type='password' placeholder='password' />
            <input type='submit' class="btn btn-lg" value='Log in!' />
        </form>

        <% include ../partials/end %>