<% include ../partials/boilerplate %>

<form method='POST' action='/auth/login'>
  <input name='username' type='text' placeholder='username' />
  <input name='password' type='password' placeholder='password' />
  <input type='submit' value='Log in!' />
</form>

<% include ../partials/end %>
