<header class="header">
	{/*---- LOGO SECTION ----*/}
	<div class="logo-section">
		<img src={logo} class="app-logo" alt="logo" />
	</div>
	{/*----  HEADER LIST -----*/}
	<div class="tabs-section">
		<ul class="header-list">
			<li class="header-list-item"><a href="#">ITEM1</a></li>
			<li class="header-list-item"><a href="#">ITEM2</a></li>
		</ul>
	</div>
</header>