<% include ./partials/boilerplate %>
<% include ./partials/end-boilerplate %>
    <script src=https://cdn.pubnub.com/sdk/javascript/pubnub.4.0.11.min.js></script>
<% include ./partials/header %>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> 
    Enter Chat and press enter
    <div>
      <input id=input placeholder=you-chat-here />
    </div>
    <div id=box></div>
<% include ./partials/end %>