<% include ./partials/boilerplate %>
    <% include ./partials/styles %>
        <% include ./partials/header %>
            <div class="index">
                <div class="jumbotron">
                    <h1>Beeee a helper.</h1>
                    <button class="btn btn-lg">LOOKING FOR HELP</button>
                    <button class="btn btn-lg">LOOKING TO HELP</button>
                </div>
            </div>
            <% include ./partials/footer.ejs %>
                <% include ./partials/end.ejs %>