/* ---------------------------------------
            UNIVERSAL STYLES
-----------------------------------------*/
.navbar {
  background-color: #212121;
}
.navbar a {
  color: #fff;
}

.navbar .navbar-brand {
  font-family: montserrat;
}

.navbar li a:hover {
  background-color: #FF5722;
}


.footer {
  background-color: #212121;
  padding-top: 30px;
  padding-bottom: 30px;
}

/* ---------------------------------------
                  INDEX
-----------------------------------------*/

.index {
  text-align: center;
  margin-bottom: -50px;
}

.index .jumbotron {
  margin-top: 50px;
  background: url("../img/neighborhood.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  height: 800px;
  color: #fff;
}

.index .jumbotron h1 {
  margin-top: 200px;
  margin-bottom: 75px;
}


.index .jumbotron button {
  border-radius: 0;
  background-color: #FF5722;
}

.index .jumbotron button:hover {
  color: #fff;
}

.index .jumbotron a:hover {
  color: #FF5722;
}

/* ---------------------------------------
                SIGNUP
-----------------------------------------*/

/* ---------------------------------------
                  CHATINDEX
-----------------------------------------*/
.chatIndex {
  margin-top: 50px;
  background-color: #EEEEEE;
}

.chatIndex .UserChat {

}

.chatIndex .mid-space {

}

.chatIndex .btn {
  background-color: #FF5722;
}

.chatIndex .modal{

}
